fastapi
uvicorn
streamlit
requests

pandas
numpy
scikit-learn
joblib

python-dotenv

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-pinecone

sentence-transformers

pinecone

groq
